body {
    margin: 0;                    
    padding: 0;                  
}

.header img {
    width: 200px;
}
.btn-record {
    border: none;
    padding: 25px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
#titulo {
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(90deg, #03bd9e, #8d6ea9, #3189d9, #464193);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-record-green {
    background-color: #f3f3f3;
    margin: 20px;
}

.btn-record-red {
    background-color: #ffffff;
}

.btn-record img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.record-spinner {
    color: white;
    width: 30px;
    height: 30px
}

.mic-img {
    width: 30px;
}

#text {
    background-color: #f3f3f3;
}

#report, #wave {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease; 
}

.oculto {
    opacity: 0;
    visibility: hidden;
}